/* Estilo para el contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para el contenido interno (formulario) */
.container {
    width: 300px;
    text-align: center;
    background-color: white; /* Agrega un fondo blanco al formulario */
    padding: 20px; /* Espacio interno para el formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega un box-shadow blanco */
    border-radius: 10px; /* Bordes curvados para el formulario */
}

/* Estilo para separar el texto "Registro de Usuario" del formulario */
h2 {
    margin: 20px 0; /* Agrega margen superior e inferior para separar el texto del formulario */
}

/* Estilo para el formulario con un box-shadow blanco */
form {
    padding: 20px 30px; /* Ajusta el relleno para agregar espacio en los lados derecho e izquierdo */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo para centrar el botón "Registrarse" */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Staatliches', sans-serif;
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: block; /* Hace que el botón sea un bloque para centrarlo */
    border-radius: 10px; /* Bordes curvados para el botón */
}

/* Estilo para separación entre campos del formulario */
.form-group {
    margin-bottom: 15px; /* Espacio vertical entre campos */
}

/* Estilo para hacer que los campos de entrada tengan un ancho máximo */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
