/* Estilo para el contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para el contenido interno (formulario) */
.container {
    width: 300px;
    text-align: center;
    background-color: white; /* Agrega un fondo blanco al formulario */
    padding: 20px; /* Espacio interno para el formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega un box-shadow blanco */
    border-radius: 10px; /* Bordes curvados para el formulario */
}

/* Estilo para separar el texto "Registro de Usuario" del formulario */
h2 {
    margin-bottom: 20px;
}

/* Estilo para el formulario con un box-shadow blanco */
form {
    background-color: white; /* Agrega un fondo blanco al formulario */
    padding: 20px; /* Espacio interno para el formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega un box-shadow blanco */
    border-radius: 10px; /* Bordes curvados para el formulario */
}

/* Estilo para centrar el botón "Registrarse" */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Staatliches', sans-serif;
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: block; /* Hace que el botón sea un bloque para centrarlo */
    border-radius: 10px; /* Bordes curvados para el botón */
}

/* Estilo para separación entre campos del formulario */
.form-group {
    margin-bottom: 15px; /* Espacio vertical entre campos */
}
