body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-bar {
    background-color: #2C6755;
    display: flex;
    justify-content: center; /* Centra los elementos en el eje horizontal */
    align-items: center; /* Centra los elementos en el eje vertical */
    height: 80px;
}

.menu-btn {
    padding: 15px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #113329;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}
#titulo, #fechas {
    background-color: #2C6755;
    padding: 10px;
    color: white;
    margin: 10px 0;
}
table, th, td {
    border: 1px solid black;
}